body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td {
  border: 1px solid rgba(70, 70, 70, 0.3);
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 12px;
  /* table-layout: fixed; */
}

td.emptyCell:hover, td.oppBoats:hover {
  background: lightsteelblue;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  opacity: .8;
}

#game {
  display: flex;
  justify-content: space-around;
  /* background: blue; */
  width: 70%;
  margin: 0 auto;
}

.myBoats {
  background: lightgoldenrodyellow;
}

.heading {
  text-align: center;
}

.emptyCell, .oppBoats {
  background: rgb(202, 255, 252);
  opacity: .6;
}

.hitCell {
  background: maroon;
  color: white;
}

#oppBoardHeading {
  text-align: right;
}

.disabled {
  pointer-events: none;
}